@font-face {
  font-family: 'iconfont';  /* project id 453263 */
  src: url('//at.alicdn.com/t/font_453263_s43f101vec48to6r.eot');
  src: url('//at.alicdn.com/t/font_453263_s43f101vec48to6r.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_453263_s43f101vec48to6r.woff') format('woff'),
  url('//at.alicdn.com/t/font_453263_s43f101vec48to6r.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_453263_s43f101vec48to6r.svg#iconfont') format('svg');
}
.icon{
	font-family: 'iconfont';
	font-size:14px;
}


body{
	font-family: 'Consolas';
}
.app{
	display: block;
	margin: 100px auto;
	width:450px;
	padding:15px 0;
}
.app-title{
	text-align: center;
	font-size:55px;
	color:rgba(212,59,59,0.4);
}

/*搜索框*/
.search{
	padding:10px 0;
	border-bottom:1px solid rgba(165,162,162,0.3);
}
.icon-drop{
	padding:0 14px;
}
.search-input{
	outline:none;
	font-size:20px;
	font-style:italic;
	width:395px;
	border:none
}
::-webkit-input-placeholder{
	color:#bbb;
}

/*任务列表*/
.todo-item{
	padding:10px 0;
	font-size:20px;
	border-bottom:1px solid rgba(165,162,162,0.3);
}
.todo-content{
	width:345px;
	display: inline-block;
}
.icon-done{
	padding:0 14px;
	color:#10bb55;
	font-size:16px;
}
.icon-cancel{
	padding:0 18px;
}
.icon-cancel{
	color:transparent
}
.todo-item:hover .icon-cancel{
	color:rgba(212,59,59,0.4)
}
.todo-list{
	border:1px solid rgba(165,162,162,0.5);
	border-radius:4px;
	box-shadow: 0 0 40px 0px #d4cbcb;
}

/*底部按钮组*/
.footer{
	padding:10px 0;
	font-size:13px;
	color:rgba(0,0,0,0.8);
}
.rest-duty{
	margin-left:14px;
}
.btn-wrapper{
	display: inline-block;
}
.btn-wrapper .btn{
	background:none;
	border-radius:1px;
	border:none;
	outline:none;
	margin:0 5px;
	padding:3px 5px;
	box-sizing: border-box;
}
.btn-wrapper .actived{
	border:0.5px solid #f3c2c2;
}
.btn-wrapper .btn-all{
	width:25px;
}
.btn-wrapper .btn-active{
	width:47px;
}
.btn-wrapper .btn-completed{
	width:75px;
}
.icon,.btn{
	cursor:pointer;
}

.rest-duty{
	word-spacing: -4px;
	margin-right:26px;
}
